---
const personalImageAlt = "Miguel Ángel"
import Badge from "@/components/Badge.astro"
import LinkedIn from "@/components/icons/LinkedIn.astro"
import Github from "@/components/icons/GitHub.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import { PROFILE, ICON_PERU, LINKS } from "@/resources/constants"
import DownloadFile from "./icons/DownloadFile.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src={PROFILE.src}
      alt={PROFILE.alt}
    />
    <a
      href="https://linkedin.com/in/midudev"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Jeremy Ayza
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +3 años de experiencia. <strong
      >Tecnico en desarrollo de sistemas y desarrollador web</strong
    > de Lima, Perú {ICON_PERU}. Especializado en el desarrollo de aplicaciones
    web únicas.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href={LINKS.gitHub}>
      <Github />
      Github
    </SocialPill>
    <SocialPill href={LINKS.linkedIn}>
      <LinkedIn />
      LinkedIn
    </SocialPill>
    <SocialPill href={LINKS.email}>
      <MailIcon />
      Contáctame
    </SocialPill>
    <SocialPill href={LINKS.cv}>
      <DownloadFile />
      Curriculum
    </SocialPill>
  </nav>
</div>
